body {
  background: linear-gradient(to bottom right, #8A2BE2, #00CED1);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.bodyFront {
  background: #8A2BE2 !important;
}

h1 {
  text-align: center;
  font-size: 22px;
  color: white;
  font-weight: 900;
  position: relative;
  top: 0px;
}

p {
  text-align: center;
  margin-top: -29px;
  color: white;
}

.paragraph-container {
  border: 2px solid #40E0D0;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #00000080;
  margin: 20px;
}

.P_Front {
  color: white;
  margin: 0;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FF69B4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn_RetoFrontPage {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FF69B4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .btn_RetoFrontPage {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 90vw;
    height: 70vh;
    font-size: 16px;
    margin-top: -98px;
  }
}

.glow-on-hover {
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #ff5dae;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: 900;
  font-size: 19px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff5dae;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .glow-on-hover:after {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
  }
}

button.glow-on-hover {
  margin-left: 77px;
}

@media only screen and (max-width: 767px) {
  button.glow-on-hover {
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Asegura que el botón ocupe todo el ancho disponible */
  }
}