body {
  background: linear-gradient(to bottom right, #8A2BE2, #00CED1);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /*Gato body ancor*/
  width: 100%;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.bodyFront {
  background: #8A2BE2 !important;
}

h1 {
  text-align: center;
  font-size: 22px;
  color: white;
  font-weight: 900;
  position: relative;
  top: 0px;
}

p {
  text-align: center;
  margin-top: -29px;
  color: white;
}

.paragraph-container {
  border: 2px solid #40E0D0;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #00000080;
  margin: 20px;
}

.P_Front {
  color: white;
  margin: 0;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FF69B4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn_RetoFrontPage {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FF69B4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .btn_RetoFrontPage {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 90vw;
    height: 60vh;
    font-size: 16px;
    margin-top: 0px;
  }
}

.glow-on-hover {
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #ff5dae;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: 900;
  font-size: 19px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff5dae;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .glow-on-hover:after {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
  }
}

button.glow-on-hover {
  margin-left: 77px;
}

@media only screen and (max-width: 767px) {
  button.glow-on-hover {
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Asegura que el botón ocupe todo el ancho disponible */
  }
}

.homeSvg{
  height: 30px;
}

a.btn {
  display: flex;
  align-items: flex-end;
  gap: 3%;
  padding: 13px;
}

.gatoGame{
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FF69B4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/*-----------------------ancor para redirigir al gato*-----------------------------*/

:root {
  --bg: #1a1e24;
  --color: #eee;
  --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
  padding: 1.5rem 0;
  filter: url('#goo');
}

.button {
  display: inline-block;
  text-align: center;
  background: var(--color);
  color: var(--bg);
  font-weight: bold;
  padding: 1.18em 1.32em 1.03em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-family: var(--font);
  font-size: 1.25rem;
  left: 24%;
  bottom: 22px;
}

.button:before,
.button:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: var(--color);
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}

.button:before {
  top: -25%;
  left: 20%;
}

.button:after {
  bottom: -25%;
  right: 20%;
}

.button:hover:before,
.button:hover:after {
  transform: none;
}


/* Demo styles */

/* body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /*display: flex;*/
  /* justify-content: center;
  align-items: center;
} */ 

/*-------------------------------Juego de gato------------------------------------*/

/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */

.containerTwo {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  position: relative;
  left: 11%;
  top: 65px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  background-color: #eee;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #a310a08a;
  padding: 41px;
  border-radius: 38px;
  margin: 40px;
  color: white;
  position: relative;
  top: 90px;
}

.cell.red {
  color: red;
  font-weight: bold;
}

.cell.blue {
  color: blue;
  font-weight: bold;
}
